
body{
    border: none;
    background-color: #cfccbbb3;
  }
  
#calc{
    padding: 20px;
    width: 450px;
    background: linear-gradient(#09b39c, #076938);
    border-radius: 2.5px;
    border: 1px whitesmoke;
    border-radius: 15px 15px 15px 15px;
    margin: auto;
    float: center;
    box-shadow: 10px 10px 5px -5px rgba(6, 56, 13, 0.2);
}
  
#equal{
    width: 150px;
}
  
input{
    margin: auto;
    width: 140px;
    height: 45px;
    font-family: Verdana;
    border-radius: 15px 5px 15px 5px;
    opacity: 0.7;
}

  
button{
    width: 45px;
    height: 50px;
    font-family: Verdana;
    border-radius: 15px 5px 15px 5px;
    opacity: 0.7;
}

p{
    width: 400px;
    height: 40px;
    border-color: black;
    opacity: 0.75;
    font-family: Verdana;
    font-size: 30px;
    border-radius: 15px 5px 15px 5px;
    text-align: right;
    margin: 25px;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

