
body{
    border: none;
    background-color: black;
  }
  
#calc{
    padding: 25px;
    width: 350px;
    height: 500px;
    margin: auto;
    float: center;
    border: 15px double;
    border-color: green;
    border-radius: 25px 25px 25px 25px;
}

input{
    margin-left: 100px;
    margin-right: 100px;
    width: 45px;
    height: 45px;
    font-family: Verdana;
    color:white;
    border-radius: 15px 5px 15px 5px;
    opacity: 0.7;
}

  
button{
    margin-top: 10px;
    margin-left: 5px;
    width: 60px;
    height: 50px;
    font-family: Verdana;
    
    border-radius: 15px 5px 15px 5px;
    opacity: 0.7;
}
h1{
    font-family: "Verdana", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px rgb(7, 151, 19), 0 0 25px #1ece1e, 0 0 5px #17da17;
}
p{
    width: 200px;
    height: 40px;
    color:white;
    opacity: 0.75;
    font-family: Verdana;
    font-size: 30px;
    border-radius: 15px 5px 15px 5px;
    text-align: right;
    margin: 25px;
    float: center;
    margin-left: auto;
    margin-right: auto;
}

