body {
    padding: 5px; /*Relleno*/
    margin: 10px;
    border: solid;
    border-color: red;
  }
  
  /*  Propiedades de la caja del párrafo */
  p {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: blue;
  }