/*Propiedades de la caja del cuerpo*/
body{
    padding: 5px; /*Relleno*/
    margin: 10px; /*Margen*/
    /*border:solid;*/
    border-color: red;
}

/*Propiedades de l caja del párrafo*/
p{
    margin: 10px;
    padding: 10px;
    border:solid;
    border-color: green;
}