body{
    background-color:black;
}

h2{
    text-align: center;
}

canvas{
    background-color:black;
    opacity: 0.9;
    border-style: dotted;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
    margin-left: 250px;
}
